html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'JetBrains', monospace;
}
/*
    setting up font-sizing
*/
h1 {
    font-size: 4.2rem;
}
h2 {
    font-size: 2.6rem;
}
p {
    font-size: 1.6rem;
}
/*
    setting up global classes
*/
body {
    background-color: #EFEEE9;
    height: 100vh;
}
.container {
    background-color: #D9D9D9;
    border-radius: 0.3rem;
    box-shadow: -0.3rem 0.3rem 0 #2F2C27;
}
.display-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
    main loading page styling
*/

.loading-page {
    background-color: #EFEEE9;
    height: 100vh;
    width: 100vw;
    position: absolute;
    justify-content: space-around;
    top: 0;
    left: 0;
    z-index: 10;
}

#loading-container {
    margin-top: 20rem;
}

#loading-text-container {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
#loading-text-container :first-child {
    margin-right: 1rem;
}
#loading-text-container *:not(:first-child) {
    position: absolute;
    display: none;
}
/*
    TODO: add animation later for switching text
*/
#loading-bar-container {
    width: 60vw;
}

#loading-bar {
    background-color: #3E8953;
    width: 0;
    border-radius: 0.3rem 0 0 0.3rem;
    padding: 0.5rem;
}

#percentage {
    font-size: 1.8rem;
}

.loading-page p {
    text-align: center;
}


/*
    landingPage styling
*/

.landing-page {
    justify-content: center;
}

#search-a-plant {
    font-size: 2rem;
    color: #2F2C27;
    width: 60vw;
    border: none;
    padding: 0.5rem;
    margin-top: 20rem;
}
#search-a-plant::placeholder {
    color: #2F2C27;
}
#search-a-plant:focus::placeholder {
    color: rgba(47, 44, 39, 0.5);
}
#search-a-plant:focus {
    outline: none;
}

.search-bar-container {
    display: flex;
}
#loading-bar-search {
    width: 1.3rem;
    height: 3.3rem;
    margin-top: 20rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
}
#loading-search-orange-ball {
    background-color: #F04227;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 1rem;
    margin: 0.1rem;
    position: relative;
    top: 2rem;
    display: none;
}
@keyframes LoadingBall {
    0%, 100% { transform: translateY(0) }
    50% { transform: translateY(-1.8rem) }
}

#error-handler {
    display: none;
    background-color: #F04227;
    color: #EFEEE9;
    margin-top: 1rem;
    border: 0.1rem solid #2F2C27;
    padding: 0.2rem;
}

#search-suggestions-container {
    width: 59vw;
    position: relative;
    top: 0;
    font-size: 2rem;
    background-color: #D9D9D9;
}
#search-suggestions-container ul li {
    list-style: none;
    cursor: pointer;
}
#search-suggestions-container ul *:not(:first-child) {
    border-top: 0.1rem solid #2F2C27;
}
#search-suggestions-container ul li:hover {
    background-color: #3E8953;
}

#feeling-lucky-btn {
    font-size: 1.6rem;
    color: #2F2C27;
    background-color: #EFEEE9;
    border: 0.1rem solid #2F2C27;
    border-radius: 0.3rem;
    padding: 0.2rem;
    margin-top: 4rem;
    cursor: pointer;
}
#feeling-lucky-btn:hover {
    margin-top: 3.7rem;
    margin-left: 0.3rem;
    box-shadow: -0.3rem 0.3rem 0 #2F2C27;
}
#feeling-lucky-btn:active {
    margin-top: 4rem;
    margin-left: 0;
    box-shadow: none;
}