html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*
    setting up font-sizing
*/
h1 {
    font-size: 6.4rem;
}
h2 {
    font-size: 4.8rem;
}
h3 {
    font-size: 4rem;
}
p {
    font-size: 3.6rem;
}
/*
    setting up global classes
*/
body {
    background-color: #EFEEE9;
    height: 100vh;
}
.display-none {
    display: none;
}
.display-block {
    display: block;
}

/*
    landingPage styling
*/

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#search-a-plant {
    font-size: 2rem;
    font-family: 'JetBrains', monospace;
    color: #2F2C27;
    background-color: #D9D9D9;
    width: 60vw;
    border-radius: 0.3rem;
    border: none;
    box-shadow: -0.3rem 0.3rem 0 #2F2C27;
    padding: 0.5rem;
    margin-top: 20rem;
}
#search-a-plant::placeholder {
    color: #2F2C27;
}
#search-a-plant:focus::placeholder {
    color: rgba(47, 44, 39, 0.5);
}
#search-a-plant:focus {
    outline: none;
}

#search-suggestions-container {
    width: 59vw;
    position: relative;
    top: 0;
    font-family: 'JetBrains', monospace;
    font-size: 2rem;
    background-color: #D9D9D9;
}
#search-suggestions-container ul li {
    list-style: none;
}

#feeling-lucky-btn {
    font-size: 1.6rem;
    font-family: 'JetBrains', monospace;
    color: #2F2C27;
    background-color: #EFEEE9;
    border: 0.1rem solid #2F2C27;
    border-radius: 0.3rem;
    padding: 0.2rem;
    margin-top: 4rem;
    cursor: pointer;
}